<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.laifuzhi.template.dao.DynamicConfigDao">
    <select id="select" resultType="cn.laifuzhi.template.model.PO.DynamicConfigPO">
        select
        config_key as configKey,
        config_json as configJson,
        create_ts as createTs,
        update_ts as updateTs
        from dynamic_config
        <where>
            config_key=#{configKey} and version &gt; #{version}
        </where>
    </select>
</mapper>